body {
  color: rgb(111, 170, 184);
  background-color: rgb(51, 45, 138);
  font-family: "Georgia", "Times New Roman", serif;
}

.home_body {
  text-align: center;
}

.home_body ul {
  width: 300px;
  padding: 10px;
  border: 7px dotted rgb(255, 202, 202);
  margin: 0 auto;
  list-style: none;
}

.home_body li {
  padding-bottom: 5px;
}

li,
.desc {
  color: rgb(255, 202, 202);
}

a {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 5px;
}