body {
  color: rgb(111, 170, 184);
  background-color: rgb(51, 45, 138);
  font-family: "Georgia", "Times New Roman", serif;
}

h1 {
  text-decoration: underline;
}

li,
.desc {
  color: rgb(255, 202, 202);
}

a {
  color: white;
}